*{
    padding: 0%;
    margin: 20px;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
.conocimientos{
    border: solid;
    border-color: rgb(255, 255, 255);
    border-width: thin;


}

